<div class="detail-page" *ngIf="branch()">
  <div class="text-content">
    <h1>
      {{ "BRANCH_DETAIL.TITLE" | translate : { location: branch()?.location } }}
    </h1>
  </div>
  <div class="branch-info">
    <div class="info-text">
      <p>
        {{ branch()?.name }}<br />{{ branch()?.postCode }}
        {{ branch()?.location }}
        {{ branch()?.canton }}
      </p>
      <p>
        {{ "BRANCH_DETAIL.PHONE" | translate }}: {{ branch()?.phone }}<br />{{
          "BRANCH_DETAIL.EMAIL" | translate
        }}: {{ branch()?.email }}<br />{{ "BRANCH_DETAIL.WEB" | translate }}:
        <a [href]="branch()?.website" target="_blank">{{
          branch()?.website
        }}</a>
      </p>
      <p>
        {{ "BRANCH_DETAIL.OPENING_HOURS" | translate }}<br />{{
          branch()?.openingHours
        }}
      </p>
      <div *ngIf="qrCodeUrl">
        <img class="qrcode" [src]="qrCodeUrl" alt="QR Code" />
      </div>
    </div>
    <div class="branch-photo">
      <div *ngIf="!branch()?.imagePath">
        <img
          src="assets/images/placeholder_image.png"
          alt="Branch Placeholder Image"
        />
      </div>
      <img
        *ngIf="branch()?.imagePath"
        [src]="branch()?.imagePath"
        alt="{{ 'BRANCH_DETAIL.PHOTO_ALT' | translate }}"
      />
    </div>
  </div>
  <google-map [center]="mapCenter" [zoom]="15" height="500px" width="100%">
    <map-marker
      *ngIf="branch()"
      [position]="mapCenter"
      #mapMarker="mapMarker"
      (mapClick)="openInfoWindow(mapMarker)"
    ></map-marker>
    <map-info-window>
      <p>{{ infoContent()?.name }}</p>
      <p>
        {{ infoContent()?.postCode }}
        {{ infoContent()?.canton }}
        {{ infoContent()?.location }}
      </p>
    </map-info-window>
  </google-map>
  <div class="buttons">
    <a routerLink="/"
      ><button mat-button>← {{ "ACTIONS.BACK" | translate }}</button></a
    >
    <div>
      <button mat-button (click)="editBranch()">
        {{ "ACTIONS.EDIT" | translate }}
      </button>
      <button mat-button (click)="deleteBranch()">
        {{ "ACTIONS.DELETE" | translate }}
      </button>
    </div>
  </div>
</div>
<div *ngIf="!branch()">
  {{ "BRANCH_DETAIL.NO_BRANCH" | translate }}
  <a routerLink="/"
    ><button mat-button>← {{ "ACTIONS.BACK" | translate }}</button></a
  >
</div>
