@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");

/* === Text Content === */
.text-content {
  font-family: "Playwrite IT Moderna", cursive;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: large;

  h1 {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: #e0d6e9;
    text-shadow: 2px 2px 0px  #957dad,
                 4px 4px 0px #ee4b2b,
  }
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  background: white;
  padding: 2rem;
  border-radius: 15px 15px 0 0;
  
  @media (max-width: 768px) {
    width: 95%;
  }
}

google-map {
  height: 500px;
  width: 100%;
  margin: 2rem 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 8px;
}

.detail-page h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.branch-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.info-text {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.info-text p {
  margin: 10px 0;
}

.info-text a {
  color: #76ade5;
  text-decoration: none;
  font-weight: 500;
}

.info-text a:hover {
  text-decoration: underline;
}

.qrcode {
  width: 10rem;
  margin-top: 10px;
  border-radius: 8px;
}

.branch-photo {
  height: 300px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: #f9f9f9;

  @media (min-width: 768px) {
    width: 100%;
    max-width: 500px;
  }
}

.branch-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.buttons a,
.buttons button {
  margin: 10px 0;

  @media (min-width: 768px) {
    margin: 0 10px;
  }
}

.buttons div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.buttons div button {
  margin: 10px 0;

  @media (min-width: 768px) {
    margin-left: 10px;
  }
}
