<mat-toolbar>
  <span class="logo"><a routerLink="/">
    <img src="assets/images/logo.png" alt="Logo">
  </a></span>
  <span class="spacer"></span>
  <a [routerLink]="['/']">
    <button mat-button type="button">{{ 'navbar.HOME' | translate }}</button>
  </a>
  <a [routerLink]="['/filialen/charts']">
    <button mat-button type="button">{{ 'navbar.CHARTS' | translate }}</button>
  </a>
  <mat-menu #languageMenu="matMenu">
    <button class="language-button" mat-menu-item *ngFor="let language of languages" (click)="changeLang(language)">
      {{ language }}
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
</mat-toolbar>