@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");

mat-toolbar {
  background: transparent;
}

.logo img {
  width: 40px;
  height: 40px;
}

a {
  text-decoration: none;
  @import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");
  font-family: "Playwrite IT Moderna", cursive;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.language-button {
  text-transform: uppercase;
}
