.mat-toolbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
}

.logo {
  text-align: center;

  img {
    width: 100px;
  }
}

.mat-nav-list {
  flex-grow: 1;
}

a {
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}