<h3 *ngIf="isEditMode(); else addMode">{{ 'branchForm.EDIT_TITLE' | translate }}</h3>
<ng-template #addMode><h3>{{ 'branchForm.ADD_TITLE' | translate }}</h3></ng-template>
<form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>{{ 'branchForm.NAME' | translate }}</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'branchForm.CANTON' | translate }}</mat-label>
    <input matInput formControlName="canton" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'branchForm.PHONE' | translate }}</mat-label>
    <input matInput formControlName="phone" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'branchForm.POSTCODE' | translate }}</mat-label>
    <input matInput formControlName="postCode" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'branchForm.LOCATION' | translate }}</mat-label>
    <input matInput formControlName="location" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'branchForm.EMAIL' | translate }}</mat-label>
    <input matInput formControlName="email" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'branchForm.WEBSITE' | translate }}</mat-label>
    <input matInput formControlName="website" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'branchForm.OPENING_HOURS' | translate }}</mat-label>
    <input matInput formControlName="openingHours" required />
  </mat-form-field>
  <div class="container">
    <mat-form-field>
      <mat-label>{{ 'branchForm.LATITUDE' | translate }}</mat-label>
      <input matInput formControlName="lat" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'branchForm.LONGITUDE' | translate }}</mat-label>
      <input matInput formControlName="lng" required />
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>{{ 'branchForm.IMAGE_URL' | translate }}</mat-label>
    <input matInput formControlName="imageUrl" />
  </mat-form-field>
  <div class="buttons">
    <a [routerLink]="['/']">
      <button mat-button type="button">← {{ 'branchForm.BACK' | translate }}</button>
    </a>
    <button mat-button type="submit" [disabled]="!branchForm.valid">
      {{ 'branchForm.SAVE' | translate }}
    </button>
  </div>
</form>