<h2 mat-dialog-title *ngIf="isEditMode(); else addMode">
  {{ "BRANCH_FORM.EDIT_TITLE" | translate }}
</h2>
<ng-template #addMode>
  <h2 mat-dialog-title>{{ "BRANCH_FORM.ADD_TITLE" | translate }}</h2>
</ng-template>

<form [formGroup]="BRANCH_FORM" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <mat-label>{{ "BRANCH_FORM.NAME" | translate }}</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "BRANCH_FORM.CANTON" | translate }}</mat-label>
      <input matInput formControlName="canton" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "BRANCH_FORM.PHONE" | translate }}</mat-label>
      <input matInput formControlName="phone" type="tel" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "BRANCH_FORM.POSTCODE" | translate }}</mat-label>
      <input matInput formControlName="postCode" type="number" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "BRANCH_FORM.LOCATION" | translate }}</mat-label>
      <input matInput formControlName="location" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "BRANCH_FORM.EMAIL" | translate }}</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "BRANCH_FORM.WEBSITE" | translate }}</mat-label>
      <input matInput formControlName="website" type="url" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "BRANCH_FORM.OPENING_HOURS" | translate }}</mat-label>
      <input matInput formControlName="openingHours" required />
    </mat-form-field>
    <google-map
    [center]="mapCenter"
    [zoom]="zoom"
    height="100px"
    width="100%"
    (mapClick)="onMapClick($event)"
  >
    <map-marker
      *ngIf="BRANCH_FORM.get('lat')?.value && BRANCH_FORM.get('lng')?.value"
      [position]="mapCenter"
    ></map-marker>
  </google-map>
    <div
      class="file-upload-wrapper"
      [class.success]="uploadSuccess"
      [class.error]="uploadError"
      (drop)="onFileDrop($event)"
      (dragover)="onDragOver($event)"
    >
      <input
        type="file"
        accept="image/*"
        (change)="onFileChange($event)"
        hidden
        #fileInput
      />
      <div class="file-dropper" (click)="fileInput.click()">
        <mat-icon>upload</mat-icon>
        <p>{{ "ACTIONS.UPLOAD_PLACEHOLDER" | translate }}</p>
        <div *ngIf="imageName()">
          <div *ngIf="selectedFile || imagePreview">
            <img
              [src]="imagePreview()"
              alt="Image Preview"
              class="image-preview"
            />
            <p>
              <span class="image-name">{{ imageName() }}</span> ({{
                fileSize()
              }}
              KB)
            </p>
            <mat-icon class="delete-icon" (click)="removeImage()"
              >delete</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="start">
    <button mat-button mat-dialog-close>
      {{ "ACTIONS.CLOSE" | translate }}
    </button>
    <button mat-button type="submit" [disabled]="!BRANCH_FORM.valid">
      {{ "ACTIONS.SAVE" | translate }}
    </button>
  </mat-dialog-actions>
</form>
