.row {
  margin-bottom: 1rem;
}

.file-upload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.file-upload-wrapper.success {
  border-color: green;
}

.file-upload-wrapper.error {
  border-color: red;
}

.file-dropper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}