mat-sidenav {
  width: 250px;
  height: 100vh;
  position: fixed;
}


mat-sidenav-content {
  height: 100vh;
}

mat-toolbar {
  position: fixed;
  background: transparent;
}

mat-sidenav-content {
  background: rgb(249 250 251);
}