<div class="detail" *ngIf="branch()">
  <h3>Unsere Filiale in {{ branch().ort }}</h3>
  <div class="branch-info">
    <div class="info-text">
      <p>
        {{ branch().firma }}<br />
        {{ branch().plz }} {{ branch().ort }} {{ branch().kanton }}
      </p>
      <br>
      <p>
        Telefon: {{ branch().phone }}<br />
        E-Mail: {{ branch().email }}<br />
        Web:
        <a [href]="branch().website" target="_blank">{{ branch().website }}</a>
      </p>
      <br>
      <p>
        Öffnungszeiten<br />
        {{ branch().opening_hours }}
      </p>
    </div>
    <div class="branch-photo">
      <p>Hier kommt ein Foto/Aussenfoto von der Filiale</p>
    </div>
  </div>
  <div class="branch-map">
    <google-map
      height="400px"
      width="100%"
      [center]="mapCenter"
      [zoom]="15">
      <map-marker [position]="mapCenter" [label]="branch().firma"></map-marker>
    </google-map>
  </div>
  <div class="buttons">
    <a href="/">
      <button mat-button>← Zurück zur Übersicht</button>
    </a>
    <a [routerLink]="['/filialen/edit', branch().id]">
      <button mat-button>Edit</button>
    </a>
  </div>
</div>
