<h3>{{ 'mapPage.TITLE' | translate }}</h3>
<p>
  {{ 'mapPage.DESCRIPTION' | translate }}
</p>
<google-map [center]="center" [zoom]="zoom" height="500px" width="100%">
  <map-marker
    *ngFor="let marker of markers"
    #mapMarker="mapMarker"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfoWindow(marker.branch, mapMarker)"
  />
  <map-info-window>
    <p>{{ infoContent()?.firma }}</p>
    <p>
      {{ infoContent()?.plz }}
      {{ infoContent()?.kanton }}
      {{ infoContent()?.ort }}
    </p>
    <a [routerLink]="['/filialen/detail', infoContent()?.id]">
      <button mat-button>{{ 'mapPage.DETAILS_BUTTON' | translate }}</button>
    </a>
  </map-info-window>
</google-map>

<a [routerLink]="['/']">
  <button mat-button type="button">← {{ 'mapPage.BACK_BUTTON' | translate }}</button>
</a>
