<h3>{{ 'MAP_PAGE.TITLE' | translate }}</h3>
<p>
  {{ 'MAP_PAGE.DESCRIPTION' | translate }}
</p>
<google-map [center]="center" [zoom]="zoom" height="500px" width="100%">
  <map-marker
    *ngFor="let marker of markers"
    #mapMarker="mapMarker"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfoWindow(marker.branch, mapMarker)"
  />
  <map-info-window>
    <p>{{ selectedBranch()?.name }}</p>
    <p>
      {{ selectedBranch()?.postCode }}
      {{ selectedBranch()?.canton }}
      {{ selectedBranch()?.location }}
    </p>
    <a [routerLink]="['/filialen/detail', selectedBranch()?.id]">
      <button mat-button>{{ 'MAP_PAGE.DETAILS_BUTTON' | translate }}</button>
    </a>
  </map-info-window>
</google-map>

<a [routerLink]="['/']">
  <button mat-button type="button">← {{ 'ACTIONS.BACK' | translate }}</button>
</a>
