<h3>{{ "branchTable.BRANCHES" | translate }}</h3>
<p>{{ "branchTable.DESCRIPTION" | translate }}</p>
<table mat-table [dataSource]="branches()" class="mat-elevation-z8">
  <ng-container matColumnDef="sortiment">
    <th mat-header-cell *matHeaderCellDef>
      {{ "branchTable.SORTIMENT" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon>place</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="firma">
    <th mat-header-cell *matHeaderCellDef>
      {{ "branchTable.FIRMA" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.firma }}</td>
  </ng-container>
  <ng-container matColumnDef="plz">
    <th mat-header-cell *matHeaderCellDef>
      {{ "branchTable.PLZ" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.plz }}</td>
  </ng-container>
  <ng-container matColumnDef="ort">
    <th mat-header-cell *matHeaderCellDef>
      {{ "branchTable.ORT" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.ort }}</td>
  </ng-container>
  <ng-container matColumnDef="kanton">
    <th mat-header-cell *matHeaderCellDef>
      {{ "branchTable.KANTON" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.kanton }}</td>
  </ng-container>
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/filialen/detail', element.id]">
        <button mat-button>{{ "branchTable.DETAILS" | translate }}</button>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="button-container">
  <a class="map-button" [routerLink]="['/filialen/karte']">
    <button mat-button>{{ "branchTable.MAP" | translate }}</button>
  </a>
  <a class="add-button" [routerLink]="['/filialen/add']">
    <button mat-button>{{ "branchTable.ADD" | translate }}</button>
  </a>
</div>
